body{
    text-align: center;
    background: url("images/bg.jpg");
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
}
h1{
    font-size: 3rem;
    text-shadow: 2px 2px 5px #fff;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 40px;
}
label,input {
    display: block;
}
label{
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}
.fields{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
input {
    height: 30px;
    width: 15rem;
    border-radius: 3px;
    border: 2px solid black;
  }
#submit-btn{
    border: 2px solid black;
    padding: 10px 30px;
    margin:auto;
    margin-top: 20px;
    border-radius: 5px;
}
#submit-btn:hover{
    background: linear-gradient(to bottom, rgb(218, 152, 212), rgb(130, 130, 196));
}

@media screen and (max-width: 768px){
    main{
        width: 80%;
    }    
}